In [1]:
import pandas as pd
import requests
import json

In [2]:
g_perth_sa2 = pd.read_csv("SA2_2016_AUST.csv")
g_perth_sa2.head()

,SA2_MAINCODE_2016,SA2_5DIGITCODE_2016,SA2_NAME_2016,SA3_CODE_2016,SA3_NAME_2016,SA4_CODE_2016,SA4_NAME_2016,GCCSA_CODE_2016,GCCSA_NAME_2016,STATE_CODE_2016,STATE_NAME_2016,AREA_ALBERS_SQKM
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825
2,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634
3,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034
4,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099

In [3]:
g_perth_sa2 = g_perth_sa2.loc[g_perth_sa2["GCCSA_NAME_2016"] == "Greater Perth"]
g_perth_cols = ["SA2_MAINCODE_2016", "SA2_NAME_2016","GCCSA_NAME_2016"]
g_perth_sa2= g_perth_sa2[g_perth_cols].copy()
g_perth_sa2.dtypes
g_perth_sa2["SA2_MAINCODE_2016"] = g_perth_sa2["SA2_MAINCODE_2016"].apply(str)

In [4]:
#make a list of SA2 Maincode for ABS API
sa2_list = g_perth_sa2["SA2_MAINCODE_2016"].tolist()
income_dict = {"SA2 Code" : [], "SA2 Name":[], "Income":[], "2006":[],"2011":[]}

In [ ]:
# Income 
rent_url = 'http://stat.data.abs.gov.au/sdmx-json/data/ABS_CENSUS2011_T24/TOT.04.5.SA2.505031108.A/all?detail=Full&dimensionAtObservation=AllDimensions&startPeriod=2006&endPeriod=2011'

bins_income = ['03','04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14_17']
    
for sa2 in sa2_list:
    for bins in bins_income:
             response = requests.get(f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_CENSUS2011_T24/TOT.{bins}.5.SA2.{sa2}.A/all?detail=Full&dimensionAtObservation=AllDimensions&startPeriod=2006&endPeriod=2011")
             income = response.json()
             income_dict["SA2 Code"].append(income["structure"]["dimensions"]["observation"][4]["values"][0]["id"])
             income_dict["SA2 Name"].append(income["structure"]["dimensions"]["observation"][4]["values"][0]["name"])
             income_dict["Income"].append(income["structure"]["dimensions"]["observation"][1]["values"][0]["name"])
             income_dict["2006"].append(income["dataSets"][0]["observations"]["0:0:0:0:0:0:0"][0])
             income_dict["2011"].append(income["dataSets"][0]["observations"]["0:0:0:0:0:0:1"][0])

In [ ]:
income_df = pd.DataFrame(income_dict)
print(income_df)

In [ ]:
#  income_dict["SA2 Code"].append(income["structure"]["dimensions"]["observation"][4]["values"][0]["id"])
# #              income_dict["SA2 Name"].append(income["structure"]["dimensions"]["observation"][4]["values"][0]["name"])
# #              income_dict["Income"].append(income["structure"]["dimensions"]["observation"][1]["values"][0]["name"])
# #              income_dict["2011"].append(income["dataSets"][0]["observations"]["0:0:0:0:0:0:0"][0])