In [1]:
import pandas as pd
import requests
import json

In [2]:
g_perth_sa2 = pd.read_csv("SA2_2016_AUST.csv")
g_perth_sa2.head()

,SA2_MAINCODE_2016,SA2_5DIGITCODE_2016,SA2_NAME_2016,SA3_CODE_2016,SA3_NAME_2016,SA4_CODE_2016,SA4_NAME_2016,GCCSA_CODE_2016,GCCSA_NAME_2016,STATE_CODE_2016,STATE_NAME_2016,AREA_ALBERS_SQKM
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825
2,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634
3,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034
4,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099

In [3]:
g_perth_sa2 = g_perth_sa2.loc[g_perth_sa2["GCCSA_NAME_2016"] == "Greater Perth"]
g_perth_cols = ["SA2_MAINCODE_2016", "SA2_NAME_2016","GCCSA_NAME_2016"]
g_perth_sa2= g_perth_sa2[g_perth_cols].copy()
g_perth_sa2.dtypes
g_perth_sa2["SA2_MAINCODE_2016"] = g_perth_sa2["SA2_MAINCODE_2016"].apply(str)

In [4]:
#make a list of SA2 Maincode for ABS API
sa2_list = g_perth_sa2["SA2_MAINCODE_2016"].tolist()
rent_dict = {"SA2 Code" : [], "SA2 Name":[], "Rent":[], "2006":[], "2011":[], "2016":[] }

In [5]:
# Rent 2006 2011 2016
rent_url = "http://stat.data.abs.gov.au/sdmx-json/data/ABS_C16_T26_TS_SA/TOT.2.5.SA2.506071145/all?detail=Full&dimensionAtObservation=AllDimensions&startPeriod=2006&endPeriod=2016"

bins_rent = ['1','2','3','4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
    
for sa2 in sa2_list:
    for bins in bins_rent:
             response = requests.get(f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_C16_T26_TS_SA/TOT.{bins}.5.SA2.{sa2}/all?detail=Full&dimensionAtObservation=AllDimensions&startPeriod=2006&endPeriod=2016")
             rent = response.json()
#              print(rent["structure"]["dimensions"]["observation"][4]["values"][0]["id"])
#              print(rent["structure"]["dimensions"]["observation"][4]["values"][0]["name"])
#              print(rent["structure"]["dimensions"]["observation"][1]["values"][0]["name"])
#              print(rent["dataSets"][0]["observations"]["0:0:0:0:0:0"][0])
#              print(rent["dataSets"][0]["observations"]["0:0:0:0:0:1"][0])
#              print(rent["dataSets"][0]["observations"]["0:0:0:0:0:2"][0])
             rent_dict["SA2 Code"].append(rent["structure"]["dimensions"]["observation"][4]["values"][0]["id"])
             rent_dict["SA2 Name"].append(rent["structure"]["dimensions"]["observation"][4]["values"][0]["name"])
             rent_dict["Rent"].append(rent["structure"]["dimensions"]["observation"][1]["values"][0]["name"])
             rent_dict["2006"].append(rent["dataSets"][0]["observations"]["0:0:0:0:0:0"][0])
             rent_dict["2011"].append(rent["dataSets"][0]["observations"]["0:0:0:0:0:1"][0])
             rent_dict["2016"].append(rent["dataSets"][0]["observations"]["0:0:0:0:0:2"][0])
 
#            print(rent_dict)

In [2]:
rent_df = pd.DataFrame(rent_dict)
print(rent_df)

NameError: name 'pd' is not defined

In [8]:
rent_df.to_csv("Rent 2006-2016.csv")

In [ ]:
rent_df['2006'] = rent_df['2006'].replace()

NameError: name 'rent_df' is not defined