In [1]:
import pandas as pd
import requests
import json

In [2]:
rent_df = pd.read_csv('Rent 2006-2016.csv')
rent_df.dtypes

Unnamed: 0      int64
SA2 Code        int64
SA2 Name       object
Rent           object
2006          float64
2011          float64
2016          float64
dtype: object

In [3]:
# rent_df.head(50)

In [4]:
rent_df[~rent_df.Rent.str.contains("Nil payments")]
# rent_df

,Unnamed: 0,SA2 Code,SA2 Name,Rent,2006,2011,2016
1,1,502011021,Dawesville - Bouvard,$1-$74,0.0,0.0,0.0
2,2,502011021,Dawesville - Bouvard,$75-$99,3.0,0.0,3.0
3,3,502011021,Dawesville - Bouvard,$100-$124,13.0,12.0,6.0
4,4,502011021,Dawesville - Bouvard,$125-$149,16.0,22.0,0.0
5,5,502011021,Dawesville - Bouvard,$150-$174,45.0,22.0,18.0
...,...,...,...,...,...,...,...
3974,3974,507051193,Warnbro,$550-$649,0.0,3.0,6.0
3975,3975,507051193,Warnbro,$650-$749,0.0,3.0,0.0
3976,3976,507051193,Warnbro,$750-$849,0.0,3.0,0.0
3977,3977,507051193,Warnbro,$850-$949,0.0,0.0,0.0
3978,3978,507051193,Warnbro,$950 and over,10.0,5.0,6.0

In [5]:
#drop nil payments
indexNames = rent_df[ rent_df['Rent'] == 'Nil payments' ].index
rent_df.drop(indexNames , inplace=True)
# rent_df.head(50)

In [6]:
# grouped_df = rent_df.groupby("SA2 Name")
# maximums = grouped_df.max()
# maximums = maximums.reset_index()
# print(maximums)

In [7]:
# rent_df.groupby("SA2 Name")['2006'].max()
# rent_df["SA2 Name"].unique()
# for sa2 in rent_df["SA2 Name"].unique():
#     rent_df[rent_df["SA2 Name"] == sa2 and rent_df['2006'] == rent_df['2006'].max() ]

In [8]:
rent_df[rent_df["SA2 Name"]=='Dawesville - Bouvard']['2006'].max()

45.0

In [9]:
rents_2006 = {}
for sa2 in rent_df["SA2 Name"].unique():
    max = rent_df[rent_df["SA2 Name"]==sa2]['2006'].max()
    mode_rent = rent_df[(rent_df["SA2 Name"]==sa2) &  (rent_df['2006']==max)]['Rent'].values[0]
    rents_2006[sa2] = mode_rent

In [31]:
rent_df_2006 = pd.DataFrame(rents_2006, index=[0])
rent_df_2006 = rent_df_2006.T
rent_df_2006

rent_df_2006 = rent_df_2006.reset_index()
rent_df_2006

rent_df_2006.columns =['SA2 Name', 'Rent 2006']
rent_df_2006

                                    SA2 Name  Rent 2006
0                       Dawesville - Bouvard  $150-$174
1                          Falcon - Wannanup  $150-$174
2                                Greenfields  $150-$174
3                       Halls Head - Erskine  $175-$199
4                                   Mandurah  $150-$174
..                                       ...        ...
168                         Rockingham Lakes     $1-$74
169                  Safety Bay - Shoalwater  $150-$174
170  Singleton - Golden Bay - Secret Harbour  $250-$274
171                                  Waikiki  $150-$174
172                                  Warnbro  $175-$199

[173 rows x 2 columns]

In [11]:
rents_2011 = {}
for sa2 in rent_df["SA2 Name"].unique():
    max = rent_df[rent_df["SA2 Name"]==sa2]['2011'].max()
    mode_rent = rent_df[(rent_df["SA2 Name"]==sa2) &  (rent_df['2011']==max)]['Rent'].values[0]
    rents_2011[sa2] = mode_rent

In [12]:
rent_df_2011 = pd.DataFrame(rents_2011, index=[0])
rent_df_2011
rent_df_2011 = rent_df_2011.T
rent_df_2011 = rent_df_2011.reset_index()
rent_df_2011.columns =['SA2 Name', 'Rent 2011']
# rent_df_2011

In [13]:
rents_2016 = {}
for sa2 in rent_df["SA2 Name"].unique():
    max = rent_df[rent_df["SA2 Name"]==sa2]['2016'].max()
    mode_rent = rent_df[(rent_df["SA2 Name"]==sa2) &  (rent_df['2016']==max)]['Rent'].values[0]
    rents_2016[sa2] = mode_rent

In [14]:
rent_df_2016 = pd.DataFrame(rents_2016, index=[0])
rent_df_2016
rent_df_2016 = rent_df_2016.T
rent_df_2016 = rent_df_2016.reset_index()
rent_df_2016.columns =['SA2 Name', 'Rent 2016']
# rent_df_2016

In [15]:
rent_df = pd.merge(rent_df_2006,rent_df_2011, how = 'left', on = 'SA2 Name')
rent_df = pd.merge(rent_df,rent_df_2016, how = 'left', on = 'SA2 Name')
# rent_df.head(60)

In [16]:
rent_df.dtypes

SA2 Name     object
Rent 2006    object
Rent 2011    object
Rent 2016    object
dtype: object

In [17]:
# rent_df.to_csv('rent.csv')

In [18]:
rent_df['Rent 2011'] = rent_df['Rent 2011'].replace('$950 and over', '950')
rent_df['Rent 2016'] = rent_df['Rent 2016'].replace('$950 and over', '950')
# rent_df.head(60)

In [19]:
rent_df.to_csv('Modified Rent.csv')

In [20]:
rent_df = pd.read_csv('Modified Rent.csv')
rent_df

,Unnamed: 0,SA2 Name,Rent 2006,Rent 2011,Rent 2016
0,0,Dawesville - Bouvard,$150-$174,$300-$324,$350-$374
1,1,Falcon - Wannanup,$150-$174,$300-$324,$350-$374
2,2,Greenfields,$150-$174,$250-$274,$300-$324
3,3,Halls Head - Erskine,$175-$199,$300-$324,$350-$374
4,4,Mandurah,$150-$174,$250-$274,$300-$324
...,...,...,...,...,...
168,168,Rockingham Lakes,$1-$74,$1-$74,$1-$74
169,169,Safety Bay - Shoalwater,$150-$174,$300-$324,$300-$324
170,170,Singleton - Golden Bay - Secret Harbour,$250-$274,$350-$374,$400-$424
171,171,Waikiki,$150-$174,$300-$324,$350-$374
172,172,Warnbro,$175-$199,$300-$324,$350-$374

In [21]:
rent_df.set_index('SA2 Name')
rent_df.dtypes

Unnamed: 0     int64
SA2 Name      object
Rent 2006     object
Rent 2011     object
Rent 2016     object
dtype: object

In [22]:
# rent_df = rent_df.astype({"Rent 2006":'int', "Rent 2011":'int', "Rent 2016":'int'})  
# rent_df.dtypes

In [23]:
rent_percent = pd.read_csv('Rent Percentage.csv')
rent_percent.set_index('Unnamed: 0')

FileNotFoundError: [Errno 2] File Rent Percentage.csv does not exist: 'Rent Percentage.csv'

In [ ]:
rent_percent.sort_values(by='%2006-2016', ascending=False)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
np.random.seed(42)
x = rent_percent['%2006-2016']
plt.hist(x, density=True, bins=100)  # `density=False` would make counts
plt.ylabel('rent')
plt.xlabel('percent')

In [ ]:
try_rent_df = pd.read_csv('Rent Percentage.csv')

In [ ]:
try_rent_df

In [ ]:
try_rent_df.drop(['Unnamed: 0'], axis=1)
try_rent_df.to_csv('Rent_1.csv')

In [ ]:
import pymongo
from pymongo import MongoClient

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.project_3_db

# Declare the collection
rent_data_per = client.project_3_db